<li>
  <span class="content"><%= bucketlist.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(bucketlist.created_at) %> ago.
  </span>
  <% if current_user?(bucketlist.user) %>
    <%= link_to "delete", bucketlist, method: :delete,
                                     data: { confirm: 'You sure?' },
                                     title: bucketlist.content %>
  <% end %>
</li>